$primary-blue: #004fb4;

$secondary-blue: #4f6c92;
$dull-blue: #a4b8d3;
$gray-blue: #cbd2e1;
$white: #f7f8fb;
$white-smoke: #f1f4f8;

$dark-green: #16a64d;
$light-green: #55cb82;
$dull-green: #caefd8;

$dark-magenta: #e2006a;
$light-magenta: #fe93b3;
$dull-magenta: #eed2df;